@font-face {
    font-family: "Gilroy";
    src: url("../woff/gilroy_regular.woff") format("woff");
}

@media (min-width: 990px) {
    .hero__img {
        position: absolute;
        width: 100%;
        height: 768px;

        background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
        opacity: 0.2;
    }

    header {
        position: fixed;
        width: 940px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .header__rect {
        position: fixed;
        width: 100%;
        height: 130px;
        cursor: pointer;
        z-index: 1;
        background: white;
    }

    .logo {
        position: fixed;
        width: 48px;
        height: 48px;
        top: 40px;
        cursor: pointer;
        z-index: 2;
    }

    .logo:hover {
        opacity: 0.5; 
        filter:alpha(opacity=50);
        transition: 1s;
    }

    .page__hero {
        position: absolute;
        width: 940px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .hero__h1 {
        position: absolute;
        width: 510px;
        height: 148px;
        top: 189px;
        font-family: "Galien";
        font-size: 54px;
        line-height: 116%;
        letter-spacing: 0.04em;
        color: #1F3F68;
        cursor: default;
        font-weight: 600;
    }

    .hero__p {
        position: absolute;
        width: 425px;
        height: 82px;
        top: 369px;

        font-family: "Gilroy";
        font-size: 16px;
        line-height: 162%;
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: 0.6;
        cursor: default;
    }

    .hero__illustration {
        position: absolute;
        width: 687px;
        height: 579px;
        left: 450px;
        top: 150px;
        cursor: default;
        z-index: 40;
        transition: 1s;
        -webkit-transition: 2s ease;
    }

    .hero__illustration:hover {
        transform:scale(1.1);
        transition: 1s;
    }

    .hero__button {
        position: absolute;
        width: 220px;
        height: 56px;
        top: 522px;

        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        background: #5A98D0;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        -webkit-transition: 2s ease;
    }

    .hero__button:hover {
        transition: 0.5s;
        box-shadow: 0px 10px 30px #85aee3;
        cursor: pointer;
    }

    #whatwedo {
        position: absolute;
        top: 768px;
    }

    .page__whatwedo  {
        position: absolute;
        width: 940px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        top: 768px;
    }

    .whatwedo__h2 {
        position: absolute;
        width: 358px;
        height: 138px;

        top: 192px;
        font-family: 'Gilroy';
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #316099;
        cursor: default;
        font-weight: 600;
    }

    .card__one {
        position: absolute;
        width: 380px;
        height: 525px;
        left: 560px;
        top: 192px;

        background: #FFFFFF;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
    }

    .whatwedo__img__1 {
        position: absolute;
        width: 224px;
        height: 197px;
        left: 78px;
        top: -20px;
        transition: 1s;
        -webkit-transition: 2s ease;
    }

    .whatwedo__img__1:hover {
        transform:scale(1.3);
        transition: 1s;
    }

    .whatwedo__img {
        position: absolute;
        width: 259px;
        height: 132px;
        left: 50px;
        top: 49px;
        transition: 1s;
        -webkit-transition: 2s ease;
    }

    .whatwedo__img:hover {
        transform:scale(1.3);
        transition: 1s;
    }

    .whatwedo__h3 {
        position: absolute;
        width: 259px;
        height: 60px;
        left: 48px;
        top: 236px;

        font-family: 'Gilroy';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        font-weight: 600;
        cursor: default;
    }

    .whatwedo__p {
        position: absolute;
        width: 284px;
        height: 103px;
        left: 48px;
        top: 312px;
        cursor: default;

        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: 0.6;
    }

    p a {
        font-family: 'Gilroy';
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #5A98D0;
        text-decoration: none;
        cursor: pointer;
    }

    p a:after {
        display: block;
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #14267e;
        content: "";
        transition: width 0.3s ease-out;
    }

    p a:hover:after,
    p a:focus:after {
        width: 100%;
        color: #1F3F68;
    }

    .whatwedo__href {
        position: absolute;
        width: 79px;
        height: 30px;
        left: 48px;
        top: 447px;
        cursor: pointer;
    }

    .whatwedo__arrow {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 151px;
        top: 450px;
        cursor: pointer;
        transition: 0.5s;
        -webkit-transition: 0.5s ease;
    }

    .whatwedo__arrow:hover {
        transform: scale(1.3);
        transition: 0.5s;
        cursor: pointer;
    }

    .card__second {
        position: absolute;
        width: 380px;
        height: 525px;
        left: 80px;
        top: 488px;

        background: #FFFFFF;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
    }

    .card__third {
        position: absolute;
        width: 380px;
        height: 525px;
        left: 560px;
        top: 817px;

        background: #FFFFFF;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
    }

    #project {
        position: absolute;
        top: 2100px;
    }

    .page__project {
        position: absolute;
        width: 940px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        top: 2100px;
    }

    .project__h2 {
        position: absolute;
        width: 227px;
        height: 92px;
        top: 202px;

        font-family: 'Gilroy';
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        font-weight: 600;
        cursor: default;
    }

    .project__p {
        position: absolute;
        width: 540px;
        height: 80px;
        left: 320px;
        top: 210px;

        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: 0.6;
        cursor: default;
    }

    .card__four {
        position: absolute;
        width: 940px;
        height: 417px;
        top: 390px;
        cursor: pointer;
    }

    .project__img__after__1 {
        position: absolute;
        width: 940px;
        height: 417px;
        opacity: 0;
        transition: 0.5s;
        -webkit-transition: 0.5s ease;
    }

    .project__img__after__1:hover {
        transition: 0.5s;
        opacity: 1;
    }

    .project__img__1 {
        position: absolute;
        width: 940px;
        height: 417px;
    }

    .project__h4__1 {
        position: absolute;
        width: 341px;
        height: 46px;
        left: 550px;
        top: 48px;

        font-family: 'Gilroy';
        font-weight: normal;
        font-size: 28px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        font-weight: 500;
    }

    .project__p__1 {
        position: absolute;
        width: 300px;
        height: 46px;
        left: 657px;
        top: 102px;
        
        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.8;
    }

    .card__five {
        position: absolute;
        width: 422px;
        height: 417px;
        top: 903px;
        
        background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
        border-radius: 10px;
        cursor: pointer;
    }

    .project__img {
        position: absolute;
        width: 422px;
        height: 417px;
    }

    .project__img__after {
        position: absolute;
        width: 422px;
        height: 417px;
        opacity: 0;
        transition: 0.5s;
        -webkit-transition: 0.5s ease;
    }

    .project__img__after:hover {
        transition: 0.5s;
        opacity: 1;
    }

    .project__h4 {
        position: absolute;
        height: 46px;
        left: 32px;
        top: 24px;

        font-family: 'Gilroy';
        font-size: 28px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        font-weight: 500;
    }

    .project__p__card {
        position: absolute;
        height: 46px;
        left: 32px;
        top: 74px;

        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.8;
    }

    .card__six {
        position: absolute;
        width: 422px;
        height: 417px;
        right: 0px;
        top: 903px;

        background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
        border-radius: 10px;
        cursor: pointer;
    }

    #client {
        position: absolute;
        top: 3482px;
    }

    .page__client {
        position: absolute;
        width: 940px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .rect__first {
        position: absolute;
        width: 100%;
        height: 1549px;
        left: 0px;
        top: 3612px;
        background: #5A98D0;
        border-radius: 200px 0px 0px 0px;
    }

    .client__h2 {
        position: absolute;
        width: 223px;
        height: 92px;
        top: 3700px;
        
        font-family: 'Gilroy';
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        font-weight: 600;
        cursor: default;
    }

    .client__p {
        position: absolute;
        width: 540px;
        height: 80px;
        top: 3718px;
        left: 320px; 
        
        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;  
        color: #FFFFFF; 
        opacity: 0.6;
        cursor: default;
    }

    .table__1 {
        position: absolute;
        width: 470px;
        height: 256px;
        top: 3911px;
        border-collapse: collapse;
        border-left: 2px solid #5A98D0;
        border-top: 2px solid #5A98D0;
        border-bottom: 2px solid #5A98D0;
    }

    .client__td1 {
        width: 235px;
        height: 128px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid white;
    }

    .client__td1:hover {
        background-color: #31609988;
        opacity: 1;
        cursor: pointer;
    }

    .table__2 {
        position: absolute;
        width: 470px;
        height: 256px;
        left: 470px;
        top: 3911px;
        border-collapse: collapse;
        border-right: 2px solid #5A98D0;
        border-top: 2px solid #5A98D0;
        border-bottom: 2px solid #5A98D0;
    }

    .client__td2 {
        width: 235px;
        height: 128px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid white;
    }

    .client__td2:hover {
        background-color: #31609988;
        opacity: 1;
        cursor: pointer;
    }

    .more__clients {
        font-family: 'Gilroy';
        font-size: 20px;
        line-height: 46px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        font-weight: 600;
    }

    .client__logo1{
        width: 180px;
        height: 50px;
    }

    .client__logo2{
        width: 120px;
        height: 40px;
    }

    .client__logo3{
        width: 160px;
        height: 40px;
    }

    #footer {
        position: absolute;
        top: 4162px;
    }

    .page__footer {
        position: absolute;
        width: 940px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .footer__rect {
        position: absolute;
        width: 90%;
        height: 869px;;
        top: 4292px;
        background: #316099;
        border-radius: 0px 200px 0px 0px;
    }

    .footer__h2 {
        position: absolute;
        width: 317px;
        height: 92px;
        top: 4383px;

        font-family: 'Gilroy';
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        font-weight: 600;
        cursor: default;
    }

    .footer__p {
        position: absolute;
        width: 460px;
        height: 80px;
        top: 4507px;

        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.6;
        cursor: default;
    }

    .footer__button {
        position: absolute;
        width: 220px;
        height: 56px;
        left: 600px;
        top: 4457px;
        transition: 1s;
        -webkit-transition: 2s ease;
        
        background: #5A98D0;
        border-radius: 10px;
    }

    .footer__button:hover {
        transition: 0.5s;
        box-shadow: 0px 5px 15px #8ea6c5;
        cursor: pointer;
    }

    .footer__line {
        position: absolute;
        width: 100%;
        right: 20%;
        top: 4683px;
        opacity: 1;
    }

    .footer__logo {
        position: absolute;
        height: 48px;
        width: 48px;
        top: 4781px;
        border-radius: 0px;
    }

    .footer__logo:hover {
        opacity: 0.5;
        cursor: pointer;
        transition: 0.5s;
    }

    .footer__h3 {
        position: absolute;
        width: 125px;
        height: 46px;
        left: 67px;
        top: 4781px;

        font-family: 'Gilroy';
        font-size: 28px;
        line-height: 46px;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .footer__h3:hover {
        opacity: 0.5;
        cursor: pointer;
        transition: 0.5s;
    }

    .footer__row {
        position: absolute; 
        top: 4859px; 
        width: 420px; 
        color: #FFFFFF; 
        font-family: 'Gilroy'; 
        font-size: 16px; 
        line-height: 26px; 
        letter-spacing: 0.05em;
    }

    .footer__td__2 {
        font-weight: lighter;
        width: 264px;
        letter-spacing: 0.05em;
        cursor: pointer;
        margin-bottom: 24px;
    }

    .footer__td__1 {
        font-weight: 600;
        vertical-align: text-top;
        cursor: default;
        margin-bottom: 24px;
    }

    .footer__h6__first {
        position: absolute;
        width: 94px;
        height: 30px;
        left: 400px;
        top: 4779px;
        
        font-family: 'Gilroy';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        font-weight: 600;
        cursor: default;
    }

    .footer__ul__first {
        position: absolute;
        left: 367px;
        top: 4841px;
    }

    a li {
        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        list-style-type: none;
    }

    .footer__li {
        margin-bottom: 16px;
    }

    .footer__li:hover {
        cursor: pointer;
        transition: 0.5s;
        transform: scale(1.1);
    }

    .footer__h6__second {
        position: absolute;
        width: 97px;
        height: 30px;
        left: 640px;
        top: 4779px;

        font-family: 'Gilroy';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        font-weight: 600;
        cursor: default;
    }

    .footer__ul__second {
        position: absolute;
        left: 607px;
        top: 4841px;
        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        list-style-type: none;
    }

    .footer__company {
        position: absolute;
        height: 26px;
        top: 5071px;

        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.4;
        cursor: default;
    }
}



